<configuration>
  <configSections>
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <!--<section name="Framework" type="SAF.Configuration.ConfigurationHandler,SAF.Configuration"/>-->
    <!--<section name="MyApplication" type="SAF.Configuration.ConfigurationHandler,SAF.Configuration"/>-->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SAF.WindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <securityCryptographyConfiguration>
    <hashProviders>
      <add name="SHA256Managed" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        algorithmType="System.Security.Cryptography.SHA256Managed, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        saltEnabled="true" />
    </hashProviders>
    <symmetricCryptoProviders>
      <add name="AesManaged" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        algorithmType="System.Security.Cryptography.AesManaged, System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        protectedKeyFilename="C:\src\SAFFramework\1885\SAF_VS2003\SAF\SAF.WindowsService\SAF.WindowsService.key"
        protectedKeyProtectionScope="LocalMachine" />
    </symmetricCryptoProviders>
  </securityCryptographyConfiguration>
  <!--<Framework type="SAF.Configuration.ConfigurationManager,SAF.Configuration">
    <SAF.WindowsService>
      <Service name="empty" type="SAF.WindowsService.EmptyService,SAF.WindowsService">
        <File>C:\temp\EmptyService.txt</File>
        <RunAs InheritIdentity="false">
          <Domain>AVANADE-C006T6X</Domain>
          <User>user1</User>
          <Password>password</Password>
        </RunAs>
      </Service>
    </SAF.WindowsService>
  </Framework>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <SAF.WindowsService.Properties.Settings>
      <setting name="AssemblyPath" serializeAs="String">
        <value>bin</value>
      </setting>
      <setting name="ServiceName" serializeAs="String">
        <value>SAF.WindowsService</value>
      </setting>
      <setting name="EmptyService" serializeAs="Xml">
        <value>
          <Service xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" type="SAF.WindowsService.EmptyService,SAF.WindowsService"
            name="empty">
            <File>C:\temp\EmptyService.txt</File>
            <RunAs InheritIdentity="false">
              <Domain>FNFIS</Domain>
              <User>svc-filewatcher-test</User>
              <Password>WkwqSaHJk9zS35BfHTS3YZZvTFJBMmfrXVdAJ83o8EKGyh4xNh6aQ5qPGHxo7Yb+</Password>
            </RunAs>
          </Service>
        </value>
      </setting>
    </SAF.WindowsService.Properties.Settings>
  </applicationSettings>
</configuration>
